/* for div where treeview is placed */
div.ob_tree	{
	background-color: #3D63A4;
	overflow: auto;
	padding:4px;
}

div.ob_d2 {
}

/* for node text */
td.ob_t2 {
	color:#ffffff;
	font: 11px verdana;
	vertical-align: middle;
	background-color: transparent;
	border:1px solid #3D63A4;
	padding-left:2px;
	padding-right:2px;
}

/* for node text highlighted/selected */
td.ob_t3 {
	color:#ffffff;
	font: 11px verdana;
	vertical-align: middle;
	background-color: #6699cc;
	border:1px solid #eeffff;
	padding-left:2px;
	padding-right:2px;
}

/* for node when edited */
input.ob_t3		{
	font: 8pt Tahoma; 
}

/* links in all nodes */
td.ob_t2 A		{
	color: #3366cc;
}

/* link in selected node */
td.ob_t3 A		{
	color: crimson;
}
	
/* for icons */
td.ob_t4 {
	display:none;
	vertical-align: top;
}

/* for icons */
div.ob_d4 {
	width: 18px;
	font: 6pt Tahoma;
}

/* for vertical lines (indent) */
div.ob_d5 {
	width: 15px;
	vertical-align: top;
	font: 5px Verdana;
}

td.ob_t5v
{
	background-image: url(vertical.gif);
}
		
/* for plus-minus images */
td.ob_t6 {
	width:18px;
	vertical-align: top;
}

/* for plus-minus images */
td.ob_t6v		{
	width:18px;
	vertical-align:top;	
	background-image: url(vertical.gif);
}

/* for plus-minus images of the root node*/
td.ob_t8 {
	width:18px;
	vertical-align: top;	
}

/* for message "Loading ..." */
td.ob_t7 {
	font: 8pt Tahoma; 
	background-color: #ffffff; 
	border: 1px solid #666666; 
	color: #666666; 
	width: 80px; 
	text-align: center; 
	padding-left: 15px;
}

/* for links */
A.ob_a2 {
	font: 11px verdana;
	color: gold;
}

.ob_t2c 
{		
	border-collapse: separate;	
	border-spacing: 0px;
}

.ob_t2b 
{	
	border-collapse: separate;	
	border-spacing: 0px;
}

.ob_t2g
{	
	border-collapse: separate;	
	border-spacing: 0px;
}
.ob_t2g td
{
	padding:0px;	
}

.ob_t2b td
{
	padding:0px;
}

.ob_t2c td
{
	padding:0px;
}