.maintext
{
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	text-transform: none;
	color: #000000;
	direction: ltr;
	letter-spacing: normal;
}
.UserInfo
{
	font-weight: bold;
	font-size: 11px;
	vertical-align: baseline;
	cursor: crosshair;
	color: #ff6600;
	font-family: Verdana;
	background-color: #ffffcc;
	text-align: center;
}
.label
{
	font: bold 7pt Verdana, Arial, Helvetica, sans-serif;
	text-transform: none;
	color: #663333;
}
.label2
{
	font: bold 8pt Verdana, Arial, Helvetica, sans-serif;
	text-transform: none;
	color: #993333;
}
.label3
{
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	text-transform: lowercase;
	color: white;
}
.Header
{
	font: bold 10pt Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: navy;
}
.admin_text
{
	font: bold italic 11px Verdana, Arial, Helvetica, sans-serif;
	text-transform: none;
	color: #ff3333;
}
.smallBottom
{
	font: 7pt Verdana, Arial, Helvetica, sans-serif;
	color: #660000;
}
.DateText
{
	font-weight: bold;
	font-size: 10pt;
	text-transform: lowercase;
	color: #cc3333;
	font-style: normal;
	font-family: Sans-Serif;
}
.Attantion
{
	font-weight: bold;
	font-size: 8pt;
	text-transform: none;
	color: #ff0000;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;
	text-decoration: underline;
}

.smalltext
{
	
	font-size: 9px;
	page-break-before: auto;
	word-spacing: normal;
	page-break-after: auto;
	color: black;
	text-indent: 0%;
	font-family: Verdana, Helvetica, sans-serif;
	white-space: normal;
	
}
.whitemess
{
	font-size: 9px;
	vertical-align: baseline;
	color: #ffffff;
	font-family: Verdana;
	text-align: center;
}
.Title
{
	font-weight: bold;
	font-size: 12px;
	vertical-align: baseline;
	text-transform: uppercase;
	color: #ffffcc;
	font-family: Verdana;
	text-align: center;
}
.TreeHover
{
	font-family:Arial; 
	font-size:9pt; 
	font-weight:normal;
	font-style:normal;
	color:#003399;
	text-decoration: underline;
	cursor: hand
}
.TreeHoverRoot
{
	font-family:Arial; 
	font-size:9pt; 
	font-weight:bold;
	font-style:normal;
	color:#003399;
	text-decoration: underline;
	cursor: hand
}
.TreeOut
{
	font-family:Arial; 
	font-size:9pt; 
	color:#000000;
	font-style:normal;
	text-decoration: none;
	cursor: default
}
.TreeOutRoot
{
	font-family:Arial; 
	font-size:9pt; 
	color:#000000;
	font-weight:bold;
	font-style:normal;
	text-decoration: none;
	cursor: default
}
.TreeNode
{
	font-family:Arial; 
	font-size:9pt; 
	font-weight: normal; 
	font-style:normal;	
	text-decoration: none;
	color:#000000;
}
.TreeRoot
{
	font-family:Arial; 
	font-size:9pt; 
	font-weight:bold; 
	font-style:normal;		
	text-decoration: none;
	color:#000000;
}
.supersmall
{
	font-size: 9px;
	font-family: Verdana;
	text-align: left;
}
.stable
{
	font-size: 9px;
	color: black;
	font-family: Verdana;
}
.ToolTip 
{ 
		            border:solid 1px;
		            font-family: Tahoma; 
		            font-size:8pt;
		            background-color: lemonchiffon;
		            padding-left:5px;
		            padding-right:5px;
}
.info_style
{
    border:1px;
    background-color:Red;
    font-family:Arial;
    font-size:8pt;
    font-style:normal;
    color:White;
}
