<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>https://10.22.98.135:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>kadry</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>urlsadmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Training_DatabaseConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=URLS_SERVER;Initial Catalog=Training_Database;Persist Security Info=True;User ID=sa;Password=*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Training_DatabaseConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=URLS_SERVER;Initial Catalog=Training_Database;Persist Security Info=True;User ID=sa;Password=*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Kard2004ConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=URLS_SERVER;Initial Catalog=Kard2004;Persist Security Info=True;User ID=webtrust;Password=*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Kard2004ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=URLS_SERVER;Persist Security Info=True;User ID=webtrust;Initial Catalog=Kard2004;Password=*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ReservConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=URLS_SERVER;Initial Catalog=Reserv;Persist Security Info=True;User ID=sa;Password=*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ReservConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=URLS_SERVER;Initial Catalog=Reserv;Persist Security Info=True;User ID=sa;Password=*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SBPConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=URLS_SERVER;Initial Catalog=SBP;Persist Security Info=True;User ID=osbp;Password=1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SBPConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=URLS_SERVER;Initial Catalog=SBP;Persist Security Info=True;User ID=osbp;Password=1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IASConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=URLS_SERVER;Initial Catalog=IAS;Persist Security Info=True;User ID=sa;Password=*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IASConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=URLS_SERVER;Initial Catalog=IAS;Persist Security Info=True;User ID=sa;Password=*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DSN=KADRY;DefaultDir=C:\KADRY;DriverId=277;FIL=dBase IV;MaxBufferSize=2048;PageTimeout=5;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DSN=KADRY;DefaultDir=C:\KADRY;DriverId=277;FIL=dBase IV;MaxBufferSize=2048;PageTimeout=5;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>